{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link href='https://fonts.googleapis.com/css?family=Courier Prime' rel='stylesheet'>
    <!-- for courier for logo -->

  </head>
  <body>
    <div class="navbar"> <!-- maybe refactor to use nav tag? not really necessary tho -->
      
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li> <!-- home -->
          <li><a href="{% url 'discover' %}">Explore</a></li> <!-- discovery -->
          <li><a href="{% url 'outlets' %}">Partners</a></li> <!-- partnered outlets -->
          <li><a href="{% url 'podcasts' %}">Podcasts</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li>
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="navbar-link">Logout</button>
            </form>
          </li> <!-- log out -->
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>

      <h2 id="navlogo"><img src="{% static 'images/newscap.png' %}" alt="Newsies Cap Logo">Newsies</h2>
      
    </div>
    
  
  <div id="container">
    {% block content %}
      <!-- other templates will be rendered here -->
    {% endblock %}
  </div>

  <footer>
    <p>© 2024 Newsies</p>
  </footer>

  <script>
    // add padding to container depending on dynamic navbar height
    // (stops navbar from rendering on top of header when position fixed)
    document.addEventListener("DOMContentLoaded", function() {
      let navbarHeight = document.querySelector(".navbar").offsetHeight;
      document.getElementById("container").style.paddingTop = navbarHeight + "px";
    });
  </script>

  </body>
</html>
