
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href='{% static "css/discovery.css" %}'>
  <title>Discovery</title>

  <header>
    <h1>Today's Top Stories:</h1>
  </header>

  <main>

    {% for blurb in blurbs %}
    <article class="news-article">
      <div class="blurb-outlet">
        <img src="{{ blurb.outlet.logo.url }}" alt="{{ blurb.outlet.name }} logo">
        <a href="#">{{ blurb.outlet.name }}</a>
        <!-- may replace with just p tag later, or ill make a view for seeing one specific outlet. leave the <a> for now -->
      </div>
      <h2>{{ blurb.title }}</h2>
      <p>{{ blurb.description }}</p>
      <a href="{{ blurb.link }}" target="_blank">Read More</a>
      <!-- TODO: put upvote/downvote here -->
    </article>
    {% endfor %}

  </main>

  <div class="blurb-modal">
    <!-- TODO: make this popup modal to view comments, etc -->
  </div>

  
{% endblock %}