
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href='{% static "css/discovery.css" %}'>
  <link rel="stylesheet" href="{% static 'css/blurb-details.css' %}">

  <title>Discovery</title>

  <header>
    <h1>Today's Top Stories:</h1>
  </header>

  <main>
    <div class="searchbar">
      <form method="POST">
        {% csrf_token %}
        <input name="q" type="text" placeholder="Search keywords or tags.">
        <input type="submit" value="Search">
      </form>
      {% if filter_text %}
      <p>Search results for "{{ filter_text }}":</p>
      {% endif %}
    </div>
    <br>

    {% for blurb in blurbs %}
    <article class="news-article" id="blurb-article-{{ blurb.id }}">
      <div class="news-container"> 
        <!-- TODO refactor to news-container from blurb-container? -->
        <div class="blurb-outlet">
          <img src="{{ blurb.outlet.logo.url }}" alt="{{ blurb.outlet.name }} logo">
          <a href="{{ blurb.outlet.page_url }}">{{ blurb.outlet.name }}</a>
          <!-- may replace with just p tag later, or ill make a view for seeing one specific outlet. leave the <a> for now -->
        </div>
        <div class="blurb-content">
          <h2>{{ blurb.title }}</h2>
          <p>{{ blurb.description }}</p>

          <!-- click to view blurb detail/comment popup -->
          <a href="#" class="view-comments" data-blurb-id="{{ blurb.id }}">View Comments</a>

          <!-- external article link, now a form for badges -->
          <form action="{% url 'read_article' %}" method="POST" target="_blank">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ blurb.link }}">
            <input type="submit" value="Read More"> <!-- TODO style like old <a> tag -->
          </form>
        </div>
      </div>
      <div class="upvotes-downvotes">
        <form action="{% url 'vote' blurb.id %}" method="POST">
          <!-- upvote/downvote form -->
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}"> <!-- for redirecting to current page's url after submit -->
          <button class="upvote-button" type='submit' name="upvote">+</button>
          <span class="vote-counter">{{ blurb.vote_count }}</span>
          <button class="downvote-button" type='submit' name="downvote">-</button>
        </form>
      </div>
    </article>

    <!-- unique modal for each blurb -->
    <div class="blurb-modal" id="modal-{{ blurb.id }}">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-details">
          <img src="{{ blurb.outlet.logo.url }}" alt="{{ blurb.outlet.name }} logo">
          <a href="{{ blurb.outlet.page_url }}">{{ blurb.outlet.name }}</a>
          <h2>{{ blurb.title }}</h2><br>
          <div class="tags-list"> <!-- first 5 tags for blurb, TODO display them inline -->
              <p><strong>Tags: </strong></p>
            {% for tag in blurb.tags.all|slice:"0:5" %}
              <p>#{{ tag.name }} </p>
            {% endfor %}
          </div>
          <br>
          <p>{{ blurb.description }}</p>
          <br>
          
        </div>
        
        <div class="comments"> <!-- comment form -->
          <form method="POST" action="{% url 'post_comment' blurb.id %}">
            {% csrf_token %}
            <!-- IFTIME if time change to not reload the page, that way user sees their changes without closing modal -->
            <input type="hidden" name="next" value="{{ request.path }}">
            <p><label for="input-text">Post Comment:</label></p>
            <textarea rows="4" cols="50" name="input-text"></textarea>
            <input type="submit" value="Post">
          </form>
          <br>

          <!-- all comments displayed here -->
          {% if not blurb.comments.all %}
            <p>No comments yet...</p>
          {% else %}
            {% for comment in blurb.comments.all %}
              <div class="comment">
                <h2>Comments:</h2>
                <h3>From <span style="color:red;">@{{ comment.author.username }}</span>:</h3>
                <p>{{ comment.text }}</p>
                <form action="{% url 'vote_comment' comment.id %}" method="POST">
                  <!-- upvote/downvote comment form -->
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button class="upvote-button" type='submit' name="upvote">+</button>
                  <span class="vote-counter">{{ comment.net_votes }}</span>
                  <button class="downvote-button" type='submit' name="downvote">-</button>
                </form>
                {% if comment.author == request.user %} <!-- editing/deleting -->
                <form method="POST" action="{% url 'delete_comment' comment.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <input type="submit" name="delete" value="Delete">
                </form>
                {% endif %}
              </div>
              <br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </main>  

  <script>

    // get all "view comments" links
    let links = document.querySelectorAll('a.view-comments'); 
    links.forEach(function(link) {
      link.addEventListener('click', function(e) { // for each link
        e.preventDefault();

        // get the ID for that link's blurb
        let blurbID = link.getAttribute('data-blurb-id'); 

        // now get the modal with that ID
        let modal = document.querySelector("#modal-" + blurbID);

        // show modal
        modal.style.display = 'block';

        // now add close button
        modal.querySelector('.close').addEventListener('click', function(e) {
          // onclick, close
          modal.style.display = 'none';
        });

        // close modal if user clicks out of it
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = 'none';
          }
        };
      });
    });

  </script>
  
{% endblock %}